:root {
    --buttonSize: calc(1rem + 1.1vh); 
    --mainColor: rgb(72, 67, 87);
    --visorFont: rgb(45, 45, 45);
    --visorColor: rgb(173,171, 168);
    --redBtn:  rgb(226, 85, 104);
    --activeRedBtn: rgb(230, 59, 81);
    --myWhite: rgb(200, 200, 200);
    --myWhite2: rgb(215, 215, 215);
    --btnActive: rgb(118, 108, 126);
    --hoverBtn: rgb(156, 150, 160);
    font-size: calc(10px + 1.5vh);
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex; 
    flex-direction: column;
    align-items: center;   
    gap: .3rem;
    background: #fcd34de0;
    text-align: center;
    font-size: var(--fontSize);
    min-height: 100vh;
    margin: 0;
}
.container {
    display:grid;
    grid-template-columns: repeat(4, 3.6rem);
    grid-template-rows: repeat(8, 3.6rem);
    background: var(--mainColor);
    border-radius: 2rem;
    padding: .9rem;
}
.visor {
    font-size: 2rem;
    background: var(--visorColor);
    border-radius: .5rem;;
    margin: .5rem .2rem .5rem .2rem;
    grid-column: 1 / 5;
    grid-row: 1 / 4;
    word-wrap: break-word;
    word-break: break-all;
    overflow: auto;
    scrollbar-width: thin; /* firefox */
    scrollbar-color: #CBD5E1 var(--mainColor); /* firefox */
}
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
  }  
  *::-webkit-scrollbar-track {
    background: var(--mainColor);
  }  
  *::-webkit-scrollbar-thumb {
    background-color: #CBD5E1 ;
    border-radius: 20px;
    border: 3px solid var(--mainColor);
}
.visorP, .visorPBlink {
    margin: .2rem;
    color: var(--visorFont);
    display: flex;
    font-weight: bold;
    font-size: var(--font-size);
    padding: .5rem;
    align-items: flex-end;
    justify-content: flex-end;
}
.visorPBlink {
    animation: blinker 1s step-start infinite;
    -webkit-animation: blinker 1s step-start infinite;
}
@keyframes blink-animation {
    50% {
        opacity: 0;
      }
  }
  @keyframes blinker {
    50% {
        opacity: 0;
      }
}
.buttons, .buttonsFunc, .operatBtn, .evaluate {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .2rem;
    padding: .5rem;
    height: var(--buttonSize);
    width: var(--buttonSize);
    color: var(--myWhite2);
    font-weight: bold;
    border: .4rem solid var(--hoverBtn);
    border-radius: 1rem;
    transition: all 0.1s ease-in-out;
    flex-shrink: 1;
}
.buttonsFunc {
    border: .4rem solid var(--redBtn);
    color:var(--redBtn);
}
.buttonsFunc:hover {
    background-color:var(--redBtn);
    color:var(--myWhite);
}
.buttonsFunc:active {
    background-color: var(--activeRedBtn);
    border: .5rem solid var(--activeRedBtn);
    color:var(--myWhite);
}
.buttons:hover, .operatBtn:hover, .evaluate:hover {
    background-color:  var(--hoverBtn);
}
.buttons:active, .operatBtn:active, .evaluate:active {
    background-color:  var(--btnActive);
    border: .5rem solid var(--btnActive);
}
.activeNm {
    transform: scale(1.05);
}
img {
    width: 60%;
    transition: transform 1.5s cubic-bezier(0,.83,.27,1.55);  
}
img:hover {
    transform: rotate(720deg) scale(1.2);
}


